:root {
    --Primary-color:#855A5C;
    --Secondary-color: #A0A4A6;
    --accent1-color: #66101F;
    --accent2-color: #EEFFDB; 
    --heading-font: 'Roboto';
    --paragraph-font: 'Open+Sans';
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero>img {
    width: 100%;
}

.hero h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #b8bbbc65;
    color: rgba(245, 245, 245, 0.836);
    padding: 1rem;
    font-size: 2rem;
}

.hero article {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article img{
    float: right;
    margin: 2rem;
    width: 13rem;
}

.hero article p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 400;
    border-radius: 10px;
    background-color: rgba(17, 17, 114, 0.361);
}

footer {
    background-color: #3e3e3e;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}

/* *{
    /* background-color: var(--Primary-color); */
/* } */

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 150px auto;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
	/* list-style: disc; */
	padding: 0;
}

nav a {
	flex: 1 1 auto;
}

nav a {
	color: black;
	padding: 0.5rem;
	font-size: 1.2rem;
    font-family: var(--heading-font);
}

nav a:hover {
	color: blueviolet;
	font-weight: 700;
	text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
    margin: 50px 0;
}

.history h2, 
.adventures h2 {
        grid-column: 1/-1 ;
        justify-self: center;
        padding: 1rem;
    }
   


.history img {
    width: 400px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin: 50px 0;
    justify-items: center;
}

.adventures img {
    width: 200px;
    margin: 0;
    padding: 0;
}

figure:nth-last-of-type(odd) {
    background-color: var(--accent2-color);
    color: #d52b34;
    align-self: center;
}

figure:nth-last-of-type(even) {
    background-color: var(--accent1-color);
    color: whitesmoke;
    align-self: center;
}

figcaption {
    text-align: center;
    padding: 1rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3e3e3e;
    margin-top: 100px;
}

